/********************************* 全局通用变量 ***************************************/
/* 重要/错误颜色 */
$importantColor: #f5222d;
/* 主题颜色 */
$themeColor:#8031E7;
/* 背景颜色 */
$bgColor:#f4f4f4;
// 文字主要颜色
$txColor:#6e6e6e;
/*边框颜色 */
$borderColor:#dadcde;
/*字体主要颜色*/
$textInfoColor:#6e6e6e;
/*边框颜色 */
$partitionBorderColor:#e9eaeb;
/* 警告提示信息颜色 */
$warningColor:#2e2e2e;
/* 成功提示信息颜色 */
$successColor:#52c41a;
/* margin默认间隔 */
$marginInterval: 20px;
/* padding默认间隔 */
$paddingInterval: 20px;